<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BCS Chain</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% url 'index' as url %}
                    <a href="{{ url }}" class="nav-link {% if request.path == url %}active{% endif %}">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</nav>